---
import BecomeAMember from "../components/index/BecomeAMember.astro";
import { cards } from "../components/index/cards.json";
import Carousel from "../components/index/Carousel.astro";
import InfoCard from "../components/index/InfoCard.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div
    class="w-full p-4 grid xl:grid-cols-[30%_70%] bg-slate-200 dark:bg-slate-800"
  >
    <BecomeAMember />
    <Carousel />
  </div>
  <div class="flex flex-col w-full items-center">
    <h1
      class="m-auto my-4 text-5xl md:text-7xl xl:text-9xl font-bold bg-gradient-to-r from-uni-blue via-uni-green to-uni-yellow bg-clip-text text-transparent"
    >
      Where to find us
    </h1>
    <div class="p-4 grid xl:grid-cols-3 md:grid-cols-2 w-full">
      {
        cards.map((card) => (
          <InfoCard
            badgeColours={card.badgeColours}
            buttonMessage={card.buttonMessage}
            cardColours={card.cardColours}
            image={card.image}
            link={card.link}
            name={card.name}
            hoverTextColour={card.hoverTextColour}
            textColour={card.textColour}
          />
        ))
      }
    </div>
  </div>
</Layout>
